# Core Geospatial & Image Processing
numpy
pillow
rasterio
pyproj
affine
shapely
opencv-python
matplotlib

# YOLO & Deep Learning
ultralytics
pyyaml

# Optimization & Experiment Tracking (Script 06)
mlflow
optuna
optuna-dashboard
hydronaut
omegaconf
plotly
hydra-core
hydra-optuna-sweeper
